.fondo{
    background-color: #f7e9d9;
}
.carrito-container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 30px;
}

.titulo-carrito {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: bold;
  font-family: 'Georgia';
}

.tabla-carrito {
  width: 100%;
  border-collapse: collapse;
  background-color: #f7e9d9;
  border: 3px solid #000;
}

.tabla-carrito th,
.tabla-carrito td {
  border: 2px solid #000;
  padding: 18px;
  text-align: center;
  font-size: 18px;
}

.celda-imagen {
  width: 150px;
}

.producto-img {
  width: 110px;
  border-radius: 5px;
}

.celda-nombre {
  font-size: 20px;
  font-weight: bold;
}



.btn-cantidad {
  width: 30px;
  height: 30px;
  background: transparent;

  font-size: 20px;
}

.cantidad-num {
  font-size: 20px;
}

.btn-quitar {
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  background: #e5e5e5;
  box-shadow: 2px 2px 4px #999;
  cursor: pointer;
}

.btn-quitar:hover {
  background: #dcdcdc;
}

.contenedor-total {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

.btn-comprar {
  padding: 12px 30px;
  border-radius: 22px;
  background: #e5e5e5;
  border: none;
  box-shadow: 2px 2px 4px #999;
  font-size: 18px;
  cursor: pointer;
}

.btn-comprar:hover {
  background: #dcdcdc;
}

.carrito-vacio {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}
