<head>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<div class="fondo">

    
        <header>AMOUGE</header>

        <div class="carousel">

            <input type="radio" name="slides" id="slide1" checked>
            <input type="radio" name="slides" id="slide2">
            <input type="radio" name="slides" id="slide3">

            <div class="slides">
                <div class="slide">
                    <img src="https://i.pinimg.com/1200x/03/71/70/037170e35bb55ad044422c15d4faa2a4.jpg">
                    <!--<img src="./assets/imagenes/carrusel1.jpg"> -->
                    <div class="text">
                        <h1>A luxury in every drop.A world in every scent.</h1>
                    </div>
                </div>

                <div class="slide">
                    <img src="imagenes/carrusel2.jpg">
                </div>

                <div class="slide">
                    <img src="imagenes/carrusel3.jpg">
                </div>
            </div>

            <div class="controls">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
            </div>
        </div>


        <section class="gallery">
            <div class="card" style="width: 18rem;">
                <img src="imagenes/card1.jpg">
                <div class="card-body">
                    <p class="card-text">The Library Collection</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="imagenes/card2.jpg">
                <div class="card-body">
                    <p class="card-text">The Exceptional Extraits</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="imagenes/card3.jpg">
                <div class="card-body">
                    <p class="card-text">The Main Collection</p>
                </div>
            </div>
        </section>

      <a href="https://api.whatsapp.com/send?phone=5491159668987" 
   target="_blank" 
   rel="noopener noreferrer" 
   class="whatsapp-btn">
      <i class="bi bi-whatsapp"></i>
        
    