/* ===== ESTILO GENERAL AMOUGE ===== */
.amouge-nav {
  background-color: #f5e9d8;
  border-bottom: 2px solid #e4ddcb;
  padding: 12px 20px;
  font-family: 'Poppins', sans-serif;
}

/* LOGO */
 .logo-img {
    color: #483528;
    margin-right: 10px;
    font-size: 10px;
    text-decoration: none;
    transition: 0.3s;
  }

/* LINKS */
.nav-link {
  color: #483528;
  font-weight: 500;
  margin-right: 20px;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #000000 !important;
  transform: translateY(-2px);
}

/* ACTIVO */
.active {
  color: #000000 !important;
  font-weight: 600;
  border-bottom: 2px solid #000000;
}

/* CARRITO */
.carrito-link {
  position: relative;
}

.contador-carrito {
  position: relative;
  top: -3px;
  margin-left: 5px;
}

/* USUARIO */
.user-label {
  color: #000000;
  font-weight: bold;
}

/* BOTÓN LOGOUT */
.btn-logout {
  border: 1px solid #ff5d5d;
  color: #ff5d5d;
}

.btn-logout:hover {
  background-color: #ff5d5d;
  color: white;
}


/* BOTÓN PERFIL */
.neu-button {
    background-color: #e0e0e0;
    border-radius: 50px;
    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
    color: #4d4d4d;
    cursor: pointer;
    font-size: 13px;
    padding: 12px 23px;
    transition: all 0.2s ease-in-out;
    border: 2px solid rgb(206, 206, 206);
  }

  .neu-button:hover {
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
  }

  .neu-button:focus {
    outline: none;
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
  }


