<div class="fondo">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <section class="contact-container">
      
<div class="header-image">
  <img src="imagenes/contacto1.jpg" class="imagen">
</div>

        <h2 class="subtitulo">¿Tienes alguna duda?</h2>

        <div class="form-container">
            <div class="form-group">
                <label>Email:</label>
                <input type="email" placeholder="name@gmail.com" />
            </div>

            <div class="form-group">
                <label>Comentario:</label>
                <textarea placeholder="mensaje"></textarea>
            </div>
        </div>
        <button type="submit" class="btn-enviar">Enviar comentario</button>


        <div class="offices">
            <div class="office">
                <strong><h3>OMAN OFFICE</h3></strong>
                <p>P.O. Box 307, CPO 111</p>
                <p>Sultanate of Oman</p>
                <p>Tel:(+54) xxxxxxxxx</p>
            </div>

            <div class="office">
                <strong><h3>UAE OFFICE</h3></strong>
                <p>Amouage International FZ LLC</p>
                <p>Dubai Design District</p>
                <p>Building 4, Office 207B</p>
                <p>Dubai, United Arab Emirates</p>
            </div>

            <div class="office">
                <strong><h3>MALAYSIA OFFICE</h3></strong>
                <p>Amouage Sdn. Bhd</p>
                <p>203 Seri Bukit Ceylon</p>
                <p>Serviced Residences</p>
                <p>8 Lorong Ceylon, Off Jalan Raja Chulan</p>
                <p>50250 Kuala Lumpur</p>
                <p>Malaysia</p>
            </div>
        </div>
      <a href="https://api.whatsapp.com/send?phone=5491159668987" 
   target="_blank" 
   rel="noopener noreferrer" 
   class="whatsapp-btn">
      <i class="bi bi-whatsapp"></i>
</a>

    </section>


</div>