
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

  <footer class="footer">

    <div class="footer-left">
        <img src="/imagenes/logo.jpg" width="30px" height="80px" class="footer-logo">

        <p class="footer-contact">
            <i class="bi bi-telephone"></i> +54 299 xxx xxxx <br>
            <i class="bi bi-envelope-at"></i> AmougeSgmail.com
        </p>
    </div>

    <div class="footer-center">
        <h2>AMOUGE</h2>
        <p class="footer-subtitle">Nuestras redes sociales:</p>

        <div class="footer-social">
            <p><i class="bi bi-instagram"></i> Amouge_oficial</p>
            <p><i class="bi bi-twitter-x"></i> Amouge_oficial</p>
        </div>
    </div>

</footer>
