<div class="fondo">
  <div class="admin-wrapper">
    <h2 class="titulo-admin">Crud</h2>

    <div class="tabla-wrapper">
      <table class="tabla-amouage">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of productos">
            <td>
            <img *ngIf="p.imagen" [src]="'http://localhost/api_proyecto/uploads/' + p.imagen" class="tabla-img" />  
            </td>

            <td>{{ p.nombre }}</td>
            <td>$ {{ p.precio }}</td>
            <td>{{ p.stock }}</td>

            <td>
              <button (click)="editar(p)" class="btn-neumo-sm">Editar</button>
              <button (click)="eliminar(p.id)" class="btn-neumo-sm">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <h3 class="titulo-form">{{ editando ? 'Actualizar producto' : 'Crear producto' }}</h3>

    <form [formGroup]="formulario" (ngSubmit)="guardar()" class="form-amouage">

      <label>Imagen:</label>
      <input type="file" (change)="onFileChange($event)" class="input-amouage" />

      <div *ngIf="imagenPrevia">
        <img [src]="imagenPrevia" class="preview" />
      </div>

      <label>Nombre:</label>
      <input formControlName="nombre" class="input-amouage" />

      <label>Precio:</label>
      <input formControlName="precio" type="number" class="input-amouage" />

      <label>Descripción:</label>
      <textarea formControlName="descripcion" rows="3" class="input-amouage"></textarea>

      <label>Stock:</label>
      <input formControlName="stock" type="number" class="input-amouage" />

      <button class="btn-neumo" type="submit">
        {{ editando ? 'Actualizar' : 'Crear producto' }}
      </button>

      <button class="btn-neumo" type="button" (click)="reset()">Limpiar</button>

    </form>
  </div>
</div>
