<div class="fondo">
    <section class="nosotros-section">
        <p class="header">Nosotros.</p>

        <div class="contenido-nosotros">

            <!-- Imagen de la izquierda -->
            <div class="img-izq">
                <img src="/imagenes/nosotros1.jpg" alt="amouage tienda">
            </div>

            <!-- Texto del centro -->
            <div class="texto-centro">
                <h3>UN LEGADO</h3>
                <p>
                    Un compromiso con nuestras raíces como empresa familiar.
                </p>
            </div>

            <!-- Imagen de la derecha -->
            <div class="img-der">
                <img src=" /imagenes/nosotros2.jpg" alt="amouage productos">

            </div>
        </div>
    </section>

    <hr>
    <section class="historia-section">

        <h1 class="titulo-historia">UNA HISTORIA</h1>
        <h2 class="subtitulo-historia">Sobre nosotros.</h2>

        <div class="historia-texto">
            <p>
                Amouage es una casa de alta perfumería reconocida por crear algunos de los perfumes más elaborados del
                mundo.
                Fundada en el Sultanato de Omán en 1983 por la familia Albusaydi con el nombre de «El Regalo de los
                Reyes»,
                la casa ha redefinido el arte árabe de la perfumería y se ha labrado una reputación mundial por aportar
                modernidad innovadora y auténtico arte a todas sus creaciones. El presidente del consejo de
                administración
                es Sayyid Khalid, quien sucedió a su hermano Sayyid Badr, presidente fundador, en 2003.
            </p>

            <p>
                Los perfumes Amouage son elaborados por perfumistas de renombre mundial de París, Grasse, Ginebra y
                Nueva York.
                Cada creación se elabora cuidadosamente a mano y se combina con gran gusto para ofrecer una pátina
                envolvente
                y una estela elegante y duradera.
            </p>
        </div>

    </section>

    <a href="https://api.whatsapp.com/send?phone=5491159668987" target="_blank" rel="noopener noreferrer"
        class="whatsapp-btn">
        <i class="bi bi-whatsapp"></i>
    </a>






</div>